<section class="heading-section">
  <nav class="level">
    <div class="level-left">
     <div class="level-item">
       <fa-icon [icon]="mainIcon" class="title-logo"></fa-icon>
      <h2 class="title is-1 site-title">HN's Latest Stories</h2>
     </div>
    </div>
    <div class="level-right">
      <div class="level-item github-elements">
        <fa-icon [icon]="githubIcon" class="github-icon"></fa-icon>
        <a class="github-anchor" href="#">
          Source Code
       </a>
      </div>
    </div>
  </nav>
</section>
  <section class="section control-section">
    <div class="container has-text-justified">
      <div class="dropdown" [ngClass]="{'is-active': paginationDropdown}">
        <div class="dropdown-trigger">
          <button class="button" (click)="toggleDropdown()" >
            <span>Stories Per Page  | {{storiesPerPage}} </span>
            <span class="icon is-small">
              <fa-icon [icon]="downChevronIcon"></fa-icon>
      </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a (click)="setStoriesPerPage(10);
              toggleDropdown()" class="dropdown-item">
             10
            </a>
            <a (click)="setStoriesPerPage(20);
              toggleDropdown()" class="dropdown-item">
             20
            </a>
          </div>
        </div>
      </div>
      </div>
  </section>
<section class="section story-section">
  <div class="container has-text-justified">
    <app-busy *ngIf="isLoading"></app-busy>
    <div class="card story-card"
         *ngFor=" let story of newStoryIds | paginate:
              {itemsPerPage: storiesPerPage,
                    currentPage: currentPageNumber,
                    totalItems: totalStories}">
      <app-story [storyId]="story"></app-story>
    </div>
  </div>
</section>
<section class="section pagination-section">
  <div class="container has-text-centered">
<!--    <pagination-controls (pageChange)="currentPageNumber = $event"-->
<!--                         [maxSize]="storiesPerPage">-->
<!--    </pagination-controls>-->
    <pagination-template #page="paginationApi"
                         (pageChange)="UpdatePage($event)">
      <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous pagination-nav" [class.is-disabled]="page.isFirstPage()"
           (click)="page.previous(); topScroll()">
          Previous
        </a>
        <a class="pagination-next pagination-nav" [class.is-disabled]="page.isLastPage()"
           (click)="page.next(); topScroll()">
          Next page</a>
        <ul class="pagination-list is-medium">
          <div *ngFor="let page of page.pages" class="pagination-link">
            <a (click)="UpdatePage(page.value)" *ngIf="currentPageNumber !== page.value" class="page-number">
              <span>{{ page.label }}</span>
            </a>
            <div *ngIf="currentPageNumber === page.value">
              <span class="active-page">{{ page.label }}</span>
            </div>
          </div>
        </ul>
      </nav>
    </pagination-template>
  </div>
</section>
